<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{template "title" .}} - powered by ggd</title>
    <link rel="stylesheet" href="/assets/index.css">
</head>
<body>
    <div>
        {{template "main" .}}
    </div>
    <footer class="footer">
        Powered by <img width="50" height="47" src="https://go.dev/blog/go-brand/Go-Logo/SVG/Go-Logo_Blue.svg" />
    </footer>
</body>
</html>
